$primary: #8ed6fb;
$bgc: #0b62a5;
$ns: 10px;
$wh: #ffffff;
$ored: #eb3e2b;
$dred: #b1352a;

@import '~bootstrap/scss/bootstrap';

body {
  background-color: $bgc;
  h1 {
    color: $wh;
  }
}
img {
  margin-top: $ns * 3;
}

.btn-primary {
  color: $bgc;
  &:hover {
    color: $wh;
  }
}

.card-body {
  color: $bgc;
}
.alert-danger {
  color: $wh;
  background-color: $ored;
  border-color: $ored;
}
